In [4]:
import random
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
import os

In [26]:
fdados_excel = pd.read_csv('./csvData.csv')
fdados_excel.drop(columns = ["WorldPercentage", "density","landAreaKm","GrowthRate","cca2", "pop2021", "pop2020", "pop2050", "pop2030", "pop2015", "pop2010", "pop2000", "pop1990", "pop1980", "pop1970"],
                inplace = True)
fdados_excel.head()

         country      pop2022     area  rank
0          China  1425887.337  9706961     1
1          India  1417173.173  3287590     2
2  United States   338289.857  9372610     3
3      Indonesia   275501.339  1904569     4
4       Pakistan   235824.862   881912     5